/***********************/
/** backgrounnd COLOR**/
/*********************/
$grey: #212121;
$red: #f10d33;
$lightgrey: #f3f3f3;
$white : white;
$darkgrey: #1f1e1e;
/************************/
/** / Background COLOR**/
/**********************/

/******************/
/** font-familly**/
/****************/
