@import url('https://fonts.googleapis.com/css?family=Sahitya');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

body{
	background: #D3D3D3;
	font-family: 'Sahitya', serif;
	font-size: 18px;
}
.logo{ /*logo accueil*/
	max-height: 1.5em;
}
.link-ex{ /* languages and social*/
	position: absolute; bottom: 0;
	z-index: 9999;
}
.bg-nav{ /* upper navbar*/
	background-color: rgba(0, 0, 0, 0.8);
	top: 3vh;
}
.bg-nav-2{ /*lower navbar*/
	background-color: rgba(0, 0, 0, 0.7);
}
a{ /* link navbar up and down */
	color: rgb(188, 144, 9);
}
a:hover{ /* link navbar up and down */
	color: rgb(188, 144, 9) !important;
}
li:hover{ /* link navbar up and down */
	background-color: rgba(188, 144, 9, 0.2);
	border-radius: 0.2em;
}
h1, h2{
	font-family: 'Satisfy', cursive;
}
.burger{
	color: rgb(188, 144, 9);
}
nav button{
	border: 1px solid rgb(188, 144, 9)!important;
}
nav button:active{
	border: none;
}

          /******************/
          /***Page accueil***/
          /******************/

.bg-castle{  /* body page accueil*/
	background: url("../images/photo_accueil2.jpg") no-repeat center center !important;
	background-size: cover !important;
	height: 100vh;
	overflow: hidden;
}
.bg-transp{ /* title page accueil*/
	background-color: rgba(0, 0, 0, 0.5);
	position:absolute;
	width: 30%;
	height: 30%;
	top: 40vh;
	left: 38vw;
	text-align: center;
	border-radius:30em;
}
.chablis{ /* left link page accueil*/
	background-color: rgba(0, 0, 0, 0.6);
	position:absolute;
	width: 13%;
	height: 7%;
	top: 48vh;
	left: 66vw;
	text-align: center;
	border-radius:30em;
	z-index: 8888;
}
.chabliscru{ /* right link page accueil*/
	background-color: rgba(0, 0, 0, 0.6);
	position:absolute;
	width: 13%;
	height: 11%;
	top: 48vh;
	left: 26vw;
	text-align: center;
	border-radius:30em;
	z-index: 9999;
}
.logo3{ /* logo page accueil*/
	position:absolute;
	width: 4%;
	height: 7%;
	top: 36vh;
	left: 50.5vw;
}
.chabliscru:hover,.chablis:hover{ /*links page accueil*/
	border: 4px solid rgb(188, 144, 9);

}
.chabliscru:focus,.chablis:focus{ /*links page accueil*/
	box-shadow: none;

}
.texte{ /* left aside */
	background-color: rgba(0, 0, 0, 0.6);
	position:absolute;
	width: 18%;
	height: 28%;
	top: 12vh;
	left: -16.2vw;
	z-index: 7777;
	border-radius:1em;
	transition: 2s;
}
.texte:hover{ /* left aside */
	background-color: rgba(0, 0, 0, 0.8);
	position:absolute;
	width: 18%;
	height: 28%;
	top: 12vh;
	left: 0vw;
	z-index: 7777;
	border-radius:1em;
	transition: 2s;

}
.arrow{ /* white arrow on left aside*/
	position: absolute;
	top: 2vh;
	left:17.9vw;
	font-size: 3em;
}
.texte h1{ /* txt left aside*/
	color: white;
	font-size: 1.5em;
	position:absolute;
	width: 86%;
	height: 79%;
	top: 5vh;
	left: 0.5vw;
	text-align: center;
	font-family: 'Sahitya', serif;
}
.texte h2{ /* txt left aside*/
	color: white;
	font-size: 0.9em;
	position:absolute;
	width: 77%;
	height: 83%;
	top: 16vh;
	left: 1.5vw;
	text-align: center;
	line-height: 1.5;
	font-family: 'Sahitya', serif;
}
.bouteilles1{ /* wine bottle page accueil*/
	width: 19%;
	max-height: 53%;
	position:absolute;
	top: 39vh;
	left:95vw;

}
.bouteilles2{ /* wine bottle page accueil*/
	width: 19%;
	max-height: 53%;
	position:absolute;
	top: 39vh;
	left:-12vw;
}
.bouteilles3{ /* wine bottle page accueil*/
	width: 15%;
	max-height: 53%;
	position:absolute;
	top: 49vh;
	left:-12vw;
}
.nav-bottom{ /*accueil lower navbar*/
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	bottom: 3.5vh;
	width: 100%;
}
.footer-accueil{
	position: absolute; bottom: 0;
}

.admin{
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 12vh;
	left: 82vw;
	width: 16%;
	border-radius:1em;
}

.formConnection{
	background-color: rgba(0, 0, 0, 0.8);
	color: rgb(188, 144, 9);
	top: 40vh;
	left: 42vw;
	position: absolute;
	border-radius:1em;
}

.formInscription{
	background-color: rgba(0, 0, 0, 0.8);
	color: rgb(188, 144, 9);
	top: 39vh;
	left: 38vw;
	position: absolute;
	border-radius:1em;
}

@media screen and (max-width: 576px){
	body{
		font-size: 12px;
	}
	.bg-transp{ /* title page accueil*/
	background-color: rgba(0, 0, 0, 0.5);
	position:absolute;
	width: 40%;
	height: 18%;
	top: 40vh;
	left: 30vw;
	text-align: center;
	border-radius:30em;
	}
	.logo3{ /* logo page accueil*/
	position:absolute;
	width: 10%;
	height: 5%;
	top: 38vh;
	left: 45vw;
	
	}
	.bg-castle{  /* body page accueil*/
	background: url("../images/photo_accueil2.jpg") no-repeat center center!important;
	background-size: cover !important;
	height: 100vh;
	overflow: hidden;
	}
	.bg-nav{
	z-index: 1000;
	}	
}
@media screen and (min-width: 576px ) and (max-width: 768px){
	body{
		font-size: 12px;
	}
	.bouteilles3{ /* wine bottle page accueil*/
	width: 15%;
	max-height: 53%;
	position:absolute;
	top: 46vh;
	left:-12vw;
	}
	.bg-transp{ /* title page accueil*/
	background-color: rgba(0, 0, 0, 0.5);
	position:absolute;
	width: 40%;
	height: 22%;
	top: 40vh;
	left: 32.5vw;
	text-align: center;
	border-radius:30em;
	}
	.logo3{ /* logo page accueil*/
	position:absolute;
	width: 8%;
	height: 7%;
	top: 36vh;
	left: 48.5vw;
	}
	.bg-nav{
	z-index: 1000;
	}	
}
@media screen and (min-width: 768px ) and (max-width: 992px){
	body{
		font-size: 12px;
	}
	.bg-transp{ /* title page accueil*/
	background-color: rgba(0, 0, 0, 0.5);
	position:absolute;
	width: 40%;
	height: 27%;
	top: 40vh;
	left: 32.5vw;
	text-align: center;
	border-radius:30em;
	}
	.logo3{ /* logo page accueil*/
	position:absolute;
	width: 7%;
	height: 7%;
	top: 37vh;
	left: 49vw;
	}
	.bg-nav{
	z-index: 1000;
	}	

}
@media screen and (min-width: 992px ) and (max-width: 1200px){	
body{
		font-size: 12px;
	}

}
/**********************/
/***Fin Page accueil***/
/**********************/


             /***********************/
             /****Page historique****/
             /***********************/

.card1, .card2, .card3, .card4, .card5{ /* txt historique*/
	border: none;
	background-color: rgba(0,0,0,0);
}
h1[class*="histo-title"]{
	font-size: 2.8em;
}
.bg-vigne{ /* bg grey slate */
	background: url("../images/vigne4.jpg") center center no-repeat !important;
	background-size: cover !important;
}
.bg-histo{
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 1.5em;
}	


/***************************/
/****Fin Page historique****/
/***************************/


             /********************/
             /****Page domaine****/
             /********************/
.pad-dom{
	padding-top: 9em;
}
.carousel-inner{
	border-radius: 1em;
}
.bg-paysage{
	background: url("../images/paysage.jpg") center center no-repeat !important;
	background-size: cover !important;
}
.bg-domaine{
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 1.5em;
}
/************************/
/****Fin Page domaine****/
/************************/

             /*********************/
             /****Page Nos vins****/
             /*********************/
.img-wine{
	background: url('../images/slider8_2.jpg') no-repeat #d3d3d3;
	background-size: 100%;
}
.box{
	height: 25px;
}
.wineTitle{
	padding-top: 5em;
}

.item{
	border: none;
	border-radius: 0px;
	background-color: rgba(255,255,255,0.8);
}
.wine{
	padding-top: 49em;
}
.black-quote{
	background-color: rgba(0,0,0,0.8);
}
.chab-MdM{
	padding-bottom: 1.4em;
}
.card{
	border-radius: 0px;
}
.empty{
	height: 22em;
}
.big-title{
	font-size: 6em;
	position: absolute;
	left: 49%;
	top: 37%;
}
.big-title h1{
	font-size: 0.5em !important;
}
#chablis, .mineral{
	font-size: 2em;
	font-family: 'Satisfy', cursive;
}
.raisonnee{
	position: absolute;
	top: 23vh;
	right: 2vw;
	color: rgb(34, 139, 34) !important;
	font-size: 0.8em;
	line-height: 1em;
}
@media screen and (max-width: 576px){
	.big-title{
	font-size: 1.5em;
	position: absolute;
	left: 49%;
	top: 10%;
	}
	.big-title h1{
	font-size: 1.2em;
	}
	.wine{
	padding-top: 23em;
	}
}
@media screen and (min-width: 576px ) and (max-width: 768px){
	h5{
		font-size: 1.1em;
	}
	.big-title{
	font-size: 3em;
	position: absolute;
	left: 49%;
	top: 10%;
	}
	.big-title h1{
	font-size: 1em;
	}
	.wine{
	padding-top: 23em;
	}
}
@media screen and (min-width: 768px ) and (max-width: 992px){
	.big-title{
	font-size: 4em;
	position: absolute;
	left: 49%;
	top: 10%;
	}
	.big-title h1{
	font-size: 0.8em;
	}
	.wine{
	padding-top: 35em;
	}
}
@media screen and (min-width: 1200px ) and (max-width: 1600px){
	.big-title{
	font-size: 4em;
	position: absolute;
	left: 49%;
	top: 10%;
	}
	.wine{
	padding-top: 37em;
	}
	#chablis, #premier_cru{
		font-size: 1.5em;
	}

}
/*********************/
/****Fin Nos vins****/
/*******************/

             /*********************/
             /****Page Contact****/
             /*******************/
.formulaire{
 padding-top: 9em;
}
.bg-grey2{
	height: 100vh;
}
.bg-black{
	background-color: rgba(0,0,0,0.7);
	border-radius: 1.2em;
}
.fa-home, .fa-phone, .fa-clock{
	color: rgb(188, 144, 9);
}
.btn-gold{
	background-color: rgb(188, 144, 9);
}
.text-contact{
	font-size: 0.9em;
}
textarea
{ 
	resize:none;
}
.bg-vigne5{
	background: url("../images/vigne5.jpg") center center no-repeat !important;
	background-size: cover !important;
}
iframe{
	width: 33.75em;
	height: 18.6em;
}
@media screen and (max-width: 576px){
	iframe{
		width: 27.5em;
		height: 18.6em;
	}
}
@media screen and (min-width: 576px ) and (max-width: 768px){
	iframe{
		width: 55.5em;
		height: 25em;
	}
}
@media screen and (min-width: 768px ) and (max-width: 992px){
	iframe{
		width: 34.5em;
		height: 27.5em;
	}
	form, .bg-black{
		font-size: 1.2em;
	}
}
@media screen and (min-width: 992px ) and (max-width: 1200px){
	iframe{
		width: 25.3em;
		height: 28em;
	}
	form, .bg-black{
		font-size: 1.2em;
	}
}
	

/********************/
/****Fin Contact****/
/******************/
            /************************/
             /****Page info vins****/
             /*********************/
.bg-wood{
	background : url("../images/mur2.jpg")  no-repeat !important;
}
.btls{

position: relative;
top: 24vh;
height: 36em;
}
.descr{
	margin-top: 7em;
}
.fa-bars, .fa-dna, .fa-compass, .fa-images, .fa-birthday-cake, .fa-expand, .fa-chart-line, .fa-sort-amount-up, .fa-envira, .fa-tint, .fa-untappd{
	color: rgb(188, 144, 9);
}
.titledescr {
	font-size: 1.5em;
}
.descr p{
	font-size: 0.85em;
}
.titledescr ~ p{
	font-size: 1em;
}
.wine_link{
	margin-top: 12em;
}
.wine_link div a{
	color: white;
}
.wine_link p{
	color: white;
	font-weight: bold;
	font-size: 1.1em;
	background:rgba(0,0,0,0.6);
	border-radius: 1.5em;
	width: 12em;
}
.wine_glass{
	width: 1.8em;
}
.a-actu{
	color: black !important;
}
.title-descr{
	max-height: 1em;
}
.logo-medaille{
	height: 7em;
}
@media screen and (max-width: 576px){
	
	.nav-bottom-foot{
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	}
	.footer-vin{
	position: absolute;
	}
	.btls{
	position: relative;
	top: 8vh;
	height: 36em;
	}
	.descr{
	margin-top: 6em;
	}
	.btn-return{
	position: absolute;
	top: 16vh;
	z-index: 888;
	}
	.bg-wood{
	background : url("../images/mur-droit.jpg")!important;
	}
	.descr p{
	font-size: 1.3em;
	}
}
@media screen and (min-width: 576px ) and (max-width: 768px){
	
	.nav-bottom-foot{
		background-color: rgba(0, 0, 0, 0.8);
		width: 100%;
	}
	.footer-vin{
		position: absolute;
	}
	.btn-return{
	position: absolute;
	top: 16vh;
	z-index: 888;
	}
	.bg-wood{
	background : url("../images/mur-droit.jpg")!important;
	}
	.btls{
	position: relative;
	top: 8vh;
	height: 36em;
	}
	.descr p{
	font-size: 1.3em;
	}


}
@media screen and (min-width: 768px ) and (max-width: 992px){
	
	.nav-bottom-foot{
		background-color: rgba(0, 0, 0, 0.8);
		width: 100%;
	}
	.footer-vin{
		position: absolute;
	}
	.btn-return{
	position: absolute;
	top: 16vh;
	z-index: 888;
	}
	.bg-wood{
	background : url("../images/mur-droit.jpg")!important;
	}
	.btls{
	position: relative;
	top: 8vh;
	height: 36em;
	}
	.descr p{
	font-size: 1.3em;
	}
}
@media screen and (min-width: 992px ) and (max-width: 1200px){
	
	.nav-bottom-foot{
		background-color: rgba(0, 0, 0, 0.8);
		width: 100%;
	}
	.footer-vin{
	position: absolute;
	}
	.bg-wood{
	background : url("../images/mur-droit.jpg") !important;
	}
	.descr{
	margin-top: 12em;
	}
}
@media screen and (min-width: 1200px ) and (max-width: 1380px) {

	.descr p{
	font-size: 1em;
	}
	.nav-bottom-foot{
		background-color: rgba(0, 0, 0, 0.8);
		width: 100%;
	}
	.logo-medaille{
		display: none;
	}
	.descr1{
		min-width: 17em;
		margin-left: 0em;
	}
	.descr2{
		min-width: 12em;
	}
	.descr{
		margin-top: 14em;
	}
	.btls{
		height: 32em;
		top: 37vh;
	}
	.footer-vin{
		position: absolute;

	}
	.bg-wood{
	background : url("../images/mur-droit.jpg") !important;
	}
	.wine_link{
		margin-top: 21em !important;
	}
	

}
@media screen and (min-width: 1380px ){
	.nav-bottom-foot{
		margin-top: 8rem;
	}
}
/**********************/
/****Fin info vins****/
/********************/
            /************************/
             /****Page actualité****/
             /*********************/

.news{

	margin-top: 8em;
}
.bg-actu{
	background-color: rgba(0,0,0,0);
}
.first-img-news{
	max-height: 30em;
	width: 100%;
	opacity: 1;
	transition: .5s ease;
  	backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)

}

.first-news:hover .first-img-news {
  opacity: 0.5;
}

.first-news:hover .middle{
  opacity: 1
}
.middle-first-texte{
	font-size: 2em !important;
	background-color: black;
	opacity: 0.9;
  	color: white;
  	font-size: 16px;
  	padding: 16px 32px;
}
.all-img-news{
	opacity: 1;
	transition: .5s ease;
  	backface-visibility: hidden;
}
.first-news:hover .all-img-news {
  opacity: 0.5;
}
.middle-texte{
	font-size: 1em !important;
	background-color: black;
	opacity: 0.9;
  	color: white;
  	font-size: 16px;
  	padding: 16px 32px;

}
.first-news:hover .middle-all{
  opacity: 1
}
.middle-all {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)

}
.lien-actu{
	font-size: 0.9em !important;
}
/**********************/
/****Fin actualité****/
/********************/













